    body,
    main,
    section,
    ul,
    ol,
    div,
    a,
    li,
    h1,
    h2,
    p {
      text-decoration: none;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-size: 20px;
    }

    section {
      height: 100vh;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      max-width: 65ch;
    }

    .top {
      margin-bottom: auto;
    }

    nav {
      display: flex;
      flex-direction: column;
    }

    ul,
    ol {
      list-style: none;
    }

    a {
      cursor: pointer;
      color: blue;
    }

    a:hover {
        text-decoration: underline;
    }

    a:visited {
        color: blue;
    }